body {
  animation: 2s ease-in fadeIn;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* set the theme for the main content of the page */
.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.main h3 {
  font-family: "Merriweather", serif, "Crimson Text", serif;
  letter-spacing: 5pt;
  font-size: 50px;
}

.music {
  border: 0;
  width: 100%;
  height: 42px;
}

#parallax {
  /* slide in paralax on load from the top */
  /* animation: 2s ease-out slideInFromTop; */

  /* darken image so that text is easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    /* the image used */ url("/static/frontend/piano.jpg");

  /* Set a specific height */
  height: 900px;
  /*width: 1000px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax h1 {
  /* text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black; */
  font-family: "Merriweather", serif, "Crimson Text", serif;
  font-size: 75px;
  letter-spacing: 5pt;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.geoff {
  width: 300px;
  height: 300px;
  border: round;
  border-color: white;
  border-style: solid;
  margin-bottom: 20px;
}

@media (max-width: 770px) {
  #parallax h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 30px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
